.idea/ant.xml
.idea/artifacts/TelephoneBook_war.xml
.idea/artifacts/TelephoneBook_war_exploded.xml
.idea/artifacts/web_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/description.html
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_3_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_4_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
lib/spring-aop-3.2.5.RELEASE.jar
lib/spring-aspects-3.2.5.RELEASE.jar
lib/spring-beans-3.2.5.RELEASE.jar
lib/spring-context-3.2.5.RELEASE.jar
lib/spring-context-support-3.2.5.RELEASE.jar
lib/spring-core-3.2.5.RELEASE.jar
lib/spring-expression-3.2.5.RELEASE.jar
lib/spring-instrument-3.2.5.RELEASE.jar
lib/spring-instrument-tomcat-3.2.5.RELEASE.jar
lib/spring-jdbc-3.2.5.RELEASE.jar
lib/spring-jms-3.2.5.RELEASE.jar
lib/spring-orm-3.2.5.RELEASE.jar
lib/spring-oxm-3.2.5.RELEASE.jar
lib/spring-test-3.2.5.RELEASE.jar
lib/spring-tx-3.2.5.RELEASE.jar
target/classes/com/controller/MainController.class
target/maven-archiver/pom.properties
target/TelephoneBook.war
target/TelephoneBook/WEB-INF/classes/com/controller/MainController.class
target/TelephoneBook/WEB-INF/lib/aopalliance-1.0.jar
target/TelephoneBook/WEB-INF/lib/commons-logging-1.1.1.jar
target/TelephoneBook/WEB-INF/lib/jstl-1.2.jar
target/TelephoneBook/WEB-INF/lib/spring-aop-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-beans-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-context-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-core-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-expression-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-web-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/lib/spring-webmvc-3.2.4.RELEASE.jar
target/TelephoneBook/WEB-INF/mvc-dispatcher-servlet.xml
target/TelephoneBook/WEB-INF/resources/css/bootstrap-theme.css
target/TelephoneBook/WEB-INF/resources/css/bootstrap-theme.min.css
target/TelephoneBook/WEB-INF/resources/css/bootstrap.css
target/TelephoneBook/WEB-INF/resources/css/bootstrap.min.css
target/TelephoneBook/WEB-INF/resources/css/mainPageStyle.css
target/TelephoneBook/WEB-INF/resources/fonts/glyphicons-halflings-regular.eot
target/TelephoneBook/WEB-INF/resources/fonts/glyphicons-halflings-regular.svg
target/TelephoneBook/WEB-INF/resources/fonts/glyphicons-halflings-regular.ttf
target/TelephoneBook/WEB-INF/resources/fonts/glyphicons-halflings-regular.woff
target/TelephoneBook/WEB-INF/resources/js/bootstrap.js
target/TelephoneBook/WEB-INF/resources/js/bootstrap.min.js
target/TelephoneBook/WEB-INF/resources/js/jquery-2.1.0.min.js
target/TelephoneBook/WEB-INF/views/main.jsp
target/TelephoneBook/WEB-INF/web.xml
target/work/jsp/org/apache/jsp/WEB_002dINF/views/main_jsp.class
.idea/libraries/
.idea/libraries
.idea/libraries/*

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
