#simpleBtn {
    display: table;
    margin: 0 auto;
}
#helloText {
    text-align: center;
}
#mainContainer {
    margin: 0 auto;
    height: auto;
    width: 55%;
}

#headWelcome {
    width: 100%;
    height: auto;
    background-color: #f8f8ff;
}
#search {
}
table {
    width: 94%;
    height: auto;
    float: right;
}
#alphabetSearch {
    float: left;
    margin-top: 1%;
    width: 5%;
}
#addPerson {
    width: 40%;
}

#addPerson {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
}
