#simpleBtn {
    display: table;
    margin: 0 auto;
}
#helloText {
    text-align: center;
}
#mainContainer {
    margin: 0 auto;
    height: 30%;
    width: 55%;
    /*background-color: #c0c0c0;*/
}

#headWelcome {
    width: 100%;
    height: auto;
    background-color: #f8f8ff;
}
#search {
}
table {
    width: 94%;
    height: 100%;
    float: right;;
}
#alphabetSearch {
    margin-top: 1%;
    width: 5%;

}
