#simpleBtn {
    display: table;
    margin: 0 auto;
    float: right;
}

#helloText {
    text-align: center;
}

#mainContainer {
    margin: 0 auto;
    height: auto;
    width: 55%;
}

#headWelcome {
    width: 100%;
    height: auto;
    background-color: #f8f8ff;
}

#search {
    float: left;

}

table {
    width: 100%;
    height: auto;
    float: right;
}

#alphabetSearch {
    float: left;
    margin-top: 1%;
    width: 5%;
    height: auto;
}

#addPerson {
    width: 40%;
}

#addPerson {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
}
.fuzzy {
    -moz-opacity: 0.3; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.3; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
